header {
    text-align : right;
    height: 5%;
    margin-right: 1%;
}


.headerimg {
    height: 30px;
    width: 30px;
}

.searchingbar{
    margin-left: 40%;
    margin-top: 15%;

}

.googlelogo{
    width: 40%;

}

input {
    width: 40%;
    height: 10%;

}


.searchingbutton{
    width: 15%;
    height: 40px;
    margin-left: 2%;
    background-color: #E8E8E8;
    border: none;
    border-radius: 5%;

}

.luckybutton {
    width: 15%;
    height: 40px;
    margin-left: 5%;
    background-color: #E8E8E8;
    border: none;
    border-radius: 5%;


}


.langage {
    padding-left: 10%;
    width: 80%;
}


footer {
    background-color: #E8E8E8;
    margin-bottom: 0;
    color:#616161;
}


.langage{
    margin-bottom: 18%;

}

.footer{
    background-color: #E8E8E8;
    
    color:#616161;


}

